<div fxLayoutAlign="center center" fxFill class="main-div">
  <mat-card fxFlex="25" fxFlex.xs="80%" fxFlex.sm="50%">
    <mat-toolbar color="primary">Login Page</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
      <mat-form-field>
        <input
          matInput
          placeholder="Username"
          name="userName"
          [(ngModel)]="user.userName"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          name="password"
          [(ngModel)]="user.password"
          required
        />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </form>
  </mat-card>
</div>
