<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex="25%"
      fxFlex.xs="100%"
      fxFlex.md="33%"
      *ngFor="let num of [1, 2, 3, 4, 5, 6, 7, 8, 9]"
    >
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Beautiful nature wallpaper {{ num }}</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="https://i.pinimg.com/originals/83/b3/15/83b315a642ccb031e8da1b165a69ad75.jpg"
          alt="Beautiful nature wallpaper"
        />
        <mat-card-content>
          <p>Sample</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
